*{margin: 0; padding: 0; box-sizing: border-box;}
body{background: #222; color: #fff; padding: 20px;}

button{background: orangered; padding: 15px 20px; border: 1px solid #aaa; border-radius: 5px; font-size: 1.5rem; outline: none;}